@model CorreiaNetCRM.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Senha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Senha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ativo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ativo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UltimoAcesso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UltimoAcesso)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UsuarioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
